<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

  <!-- Define targets -->
  <targets>
    <!-- File target - creates one log file per day and appends to it -->
    <target xsi:type="File" 
            name="logfile" 
            fileName="${basedir}/logs/windows-openrazer-thing-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/windows-openrazer-thing-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
    
    <!-- Console target for debugging -->
    <target xsi:type="Console" 
            name="logconsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Define rules - default to INFO level, DEBUG only if DEBUG file exists -->
  <rules>
    <!-- Log INFO and above to file by default -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    
    <!-- Log Info and above to console -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
